.addPlayerContainer {
  width: 400px;
  padding: 50px 50px 0 50px;
}

.inputAndButtonContainer {
  width: 400px;
  display: flex;
}

.addPlayerContainer input {
  padding: 5px;
}

.addPlayerContainer button {
  margin-left: -30px;
  padding: 0 10px;
  background-color: transparent;
  color: black;
  border: none;
}

.addPlayerContainer button:focus {
  outline: 0;
}

.addPlayerContainer button:hover {
  color: green;
  cursor: pointer;
}

.error {
  display: flex;
  color: red;
  height: 30px;
  width: 150px;
  align-items: center;
}

.player {
  display: flex;
  justify-content: space-between;
}

.addPlayerContainer {
  height: 100%;
  width: 20px;
}
