body {
  font-family: Sans-Serif;
}

.gameContainer {
  height: 100vh;
  width: 100%;
  background-image: url("../images/background/5.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.header {
  display: flex;
  justify-content: space-between;
}

.pointsAmount {
  font-size: 18px;
  width: 400px;
  margin-left: 50px;
  display: flex;
  justify-content: center;
}

.noPlayersInfo {
  font-size: 20px;
  padding-left: 50px;
  padding-top: 20px;
}
